<div [formGroup]="form">
  <div [ngSwitch]="field.controlType" class="controls">

    <mat-form-field *ngSwitchCase="'text'">
      <input type="text" matInput [placeholder]="field.fieldMetadata.label" autocomplete="off" [formControlName]="field.fieldMetadata.name">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'">
      <input type="number" matInput [placeholder]="field.fieldMetadata.label" autocomplete="off" [formControlName]="field.fieldMetadata.name">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select [id]="question.key" [placeholder]="question.label" [formControlName]="question.key">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
